<iframe src="https://www.youtube.com/embed/o_kTUnzp5ng?autoplay=1&loop=1&mute=1&controls=0" allow="autoplay"
    frameborder="0" class="w-full h-full absolute"></iframe>

<div class="h-screen bg-white">
    <div class="pt-[20%] px-24 h-full absolute text-white bg-gradient-to-r from-black">
        <h1 class="text-6xl font-bold">The Ones Who Live</h1>
        <p class="inline-block py-6 text-lg w-[30%] flex-wrap">The Walking Dead: The Ones Who Live is an upcoming
            American post-apocalyptic television series created by Scott M. Gimple and Danai Gurira for AMC. It is set
            after the conclusion of the original The Walking Dead series, with Andrew Lincoln, Danai Gurira and
            Pollyanna McIntosh reprising their roles.</p>

        <!-- buttons -->
        <div class="flex gap-2">
            <button
                class="bg-white py-4 px-12 text-xl font-bold rounded-lg text-black hover:bg-opacity-70">Play</button>
            <button class="bg-gray-500 py-4 px-12 text-xl font-bold rounded-lg text-white hover:bg-opacity-50">More
                Info</button>
        </div>
    </div>
</div>